body {
  margin: 0px;
  padding: 0px;
  background-color: #fbfbfb;
  font-family: 'Open Sans', sans-serif;
}

.header {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  border-bottom: 2px #dedede solid;
  margin-bottom: 65px
}

.main {
  margin-top: 125px;
}

.todo {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 355px);
  grid-auto-rows: 425px;
  grid-gap: 65px 65px;
}

.content-grid {
  background-color: #ffffff;
}

.content-grid:hover {
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
}

.grid-header {
  color: white;
  height: 55%;
}

.grid-footer {
  position: relative;
  top: -75px;
  height: 45%;
}

.grid-header h1 {
  width: 100%;
  margin: 0px;
  padding: 14px 0px 0px 22px;
  left: 22px;
}

.grid-footer h3 {
  position: relative;
  margin: 0px;
  padding: 50px 0px 0px 22px;
}

#complete-footer {
  position: relative;
  margin: 0px;
  font-size: 12px;
  padding-left: 22px;
}

#postedOn {
  position: relative;
  margin: 0px;
  padding: 50px 0px 0px 22px;
}

.grid-footer button  {
  position: relative;
  margin: 0px;
  top: -29px;
  left: 235px;
  font-size: 15px;
  border: none;
  padding: 10px 30px;
}

.profile-icon {
  position: relative;
  top: -35px;
  left: 35px;
  border-radius: 90px;
}

.create-button {
  position: fixed;
  border: none;
  border-radius: 10px;
  font-size: 35px;
  padding: 10px 35px;
  right: 10px;
  top: 10px;
}

.create-button:hover {
  background-color: #62ab49;
  color: white;
}

.popup-add {
  z-index: 2;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
}

.popup-BG {
  background-color: black;
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

.popup-box {
  position: absolute;
  opacity: 1;
  background: white;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
}

.popup-header {
  height: 55%;
  width: 100%;
}

.popup-headerContent {
  position: absolute;
  text-align: center;
  color: white;
  width: 70%;
  left: 15%;
  top: 150px;
}

.popup-headerContent {
  font-size: 40px;
}

.popup-footer {
  width: 100%;
  height: 45%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 40%;
}

.popup-footer input {
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
  left: 5%;
  font-size: 20px;
  width: 80%;
  height: 40%;
  margin-top: 55px;
}

.popup-footer textarea {
  grid-column-start: 3;
  grid-column-end: 4;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  resize: none;
  top: 54px;
  left: -60px;
  width: 100%;
  height: 210px;
  font-size: 20px;
}

.popup-footer button {
  position: relative;
  border-style: none;
  font-size: 20px;
  width: 300px;
  height: 100px;
  top: 120px;
  left: 1695px;
}
